table{
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
    text-align: center;
    font-family: sans-serif;
    background-color: #d4d9dd;
    color: #000000;
}
.warning{
  -webkit-text-fill-color: red; /* Will override color (regardless of order) */
  -webkit-text-stroke: 0.4px #444;
}
.well_created{

  -webkit-text-fill-color: greenyellow; /* Will override color (regardless of order) */
  -webkit-text-stroke: 0.4px #444;
}

grille {
  zoom :250%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

pixels {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  row-gap: 0px;
  column-gap: 0px;
}

pixel {
  display: flex;
  width: 5px;
  height: 5px;

  border: 0.5px solid #444;

  background: center no-repeat;
  background-size: contain;

  cursor: pointer;
}

colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;

}

color {
  width: 50px;
  height: 50px;

  border: 1px solid #666;
  border-radius: 10px;

  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

  background: center no-repeat;
  background-size: 40px;

  cursor: pointer;
}
.white{
  background-color: white;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.blue{
  background-color:blue;
}

color.active {
  border: 1px solid green;
  box-shadow: 0 0 4px green;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

.header{
  background-color: #59a65d9a;
  padding: 20px 0;
  border-radius: 12px;
  position: sticky;
  top: 0;
  
}
.header img{
  display: flex;
  justify-content: right;
  width: 200px;
  margin-left: 10px;
}