table {
    border: 2px solid rgb(140 140 140);
    zoom: 300%;
  }
  th,tr,
td {
  border: 1px solid rgb(160 160 160);
}
body{
    text-align: center;
}
.warning{
  color: red;
}
.well_created{
  color: greenyellow;
}

grille {
  zoom :250%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

pixels {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  row-gap: 0px;
  column-gap: 0px;
}

pixel {
  display: flex;
  width: 5px;
  height: 5px;

  border: 0.5px solid #444;

  background: center no-repeat;
  background-size: contain;

  cursor: pointer;
}
.red{
  background-color: red;
}

colors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;

}

color {
  width: 50px;
  height: 50px;

  border: 1px solid #666;
  border-radius: 10px;

  margin-bottom: 10px;

  background: center no-repeat;
  background-size: 40px;

  cursor: pointer;
}

.green{
  background-color: green;
}
.blue{
  background-color:blue;
}